.wrap{
    border: 1px dashed #ccc;
    padding: 1rem;
}

input{
    &.ng-invalid.ng-touched{
        border: 1px solid red;
    }

    &.ng-valid.ng-touched{
        border: 1px solid green;
    }
}

